<h1>Listing UnderscoredModels</h1>

<table>
  <tr>
    <th>Headline</th>
    <th>Story</th>
    <th>Creator</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @UnderscoredModels.each do |UnderscoredModel| %>
  <tr>
    <td><%= UnderscoredModel.headline %></td>
    <td><%= UnderscoredModel.story %></td>
    <td><%= UnderscoredModel.creator_id %></td>
    <td><%#= link_to 'Show', show_UnderscoredModel_path(UnderscoredModel) %></td>
    <td><%#= link_to 'Edit', edit_UnderscoredModel_path(UnderscoredModel) %></td>
    <td><%#= link_to 'Destroy', UnderscoredModel, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New CamelizedModel', new_UnderscoredModel_path %>
