<h1>Listing tacos</h1>

<table>
  <tr>
    <th>Headline</th>
    <th>Story</th>
    <th>Creator</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tacos.each do |taco| %>
  <tr>
    <td><%= taco.headline %></td>
    <td><%= taco.story %></td>
    <td><%= taco.creator_id %></td>
    <td><%#= link_to 'Show', show_taco_path(taco) %></td>
    <td><%#= link_to 'Edit', edit_taco_path(taco) %></td>
    <td><%#= link_to 'Destroy', taco, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Taco', new_taco_path %>
