<h1>Listing blurbs</h1>

<table>
  <tr>
    <th>Headline</th>
    <th>Story</th>
    <th>Creator</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blurbs.each do |blurb| %>
  <tr>
    <td><%= blurb.headline %></td>
    <td><%= blurb.story %></td>
    <td><%= blurb.creator_id %></td>
    <td><%#= link_to 'Show', show_blurb_path(blurb) %></td>
    <td><%#= link_to 'Edit', edit_blurb_path(blurb) %></td>
    <td><%#= link_to 'Destroy', blurb, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Blurb', new_blurb_path %>
