<h1>Listing burritos</h1>

<table>
  <tr>
    <th>Headline</th>
    <th>Story</th>
    <th>Creator</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @burritos.each do |burrito| %>
  <tr>
    <td><%= burrito.headline %></td>
    <td><%= burrito.story %></td>
    <td><%= burrito.creator_id %></td>
    <td><%#= link_to 'Show', show_burrito_path(burrito) %></td>
    <td><%#= link_to 'Edit', edit_burrito_path(burrito) %></td>
    <td><%#= link_to 'Destroy', burrito, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Burrito', new_burrito_path %>
